.text{
    font-size: 3em;
    margin-left: 3em;
    color: green;
    margin-bottom: 2em;
}
.pics{
font-size: 4em;
}

.pic{
    font-size: 2em;
    
}
.h{
    font-size: 5em; 
    position: relative;
    bottom: 1em;
}
.pt{
    padding: 10em;
    
}