.text{
    font-size: 3em;
    margin-left: 3em;
    color: green;
    margin-bottom: 2em;
}
.pics{
font-size: 4em;
}

.pic{
    font-size: 2em;
    
}
.h{
    font-size: 5em; 
    position: relative;
    bottom: 1em;
}
.pt{
    padding: 10em;
    
}

  .line{
    width: 65em;
    position: relative;
    
  }
  .nov{
    margin-top: 4.5em;
  }
  .sept{
    margin-top: 4em;
  }
  .may{
    margin-top: 3em;
  }
  h5{
    color: limegreen;
  }
  h5:hover{
    color: green;
  }
  .download {
    border:none;
    border-radius: 0.5em;
    background-color: black;
     }
     