footer {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    padding: 10em;
  }
  
  .contact-section h3 {
    margin-top: 10em;
    font-size: 4em;
  }
  
  .contact-section p {
    margin-bottom: 10px;
  }
  
  .contact-section .footer-text {
    font-weight: bold;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
   
  }
  
  .social-icons li {
    display: inline-block;
    margin: 0 5px;
    

  }
  
  .social-icons a {
    color: #555;
    font-size: 30px;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;

  }
  
  /* .social-icons a:hover {
    background-color: #555;
    color: #fff;
  } */
  .lkdn:hover{
    color: rgb(19, 138, 250);
  }
  .titer:hover{
    color: rgb(19, 138, 250);
  }
  .istan:hover{
    color: palevioletred;
  }
  .beh:hover{
    color: blue;
  }
  .dri:hover{
    color: pink;
  }
  .fb:hover{
    color: blue;
  }
  .fg:hover{
    background-image: linear-gradient(pink, orange,red,green,yellow);
  }
  .med:hover{
    color: rgb(2, 0, 0);
  }
  .tab:hover{
    color: limegreen ;
  }